@model StatusTurbo.Models.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoginUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoginUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SenhaUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SenhaUsuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Editar", new { id = Model.IdUsuario }) |
    @Html.ActionLink("Voltar para a Lista", "Index")
</p>
